<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Сканирование документов</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.css" />
</head>

<body>
    <div class="card text-center my-5 shadow-0 border rounded mx-auto" style="max-width: 36rem;">
        <div class="card-body">
            <h4 class="card-title mb-4 text-uppercase">Веб-приложение для сканирования документов</h4>
            <form method="post" action="/" enctype="multipart/form-data">
                <div class="mb-4">
                    <input type="file" name="file" class="form-control" id="document" required>
                    <div class="invalid-feedback">Пример недействительной обратной связи для пользовательского файла</div>
                </div>
                <button type="submit" class="btn btn-danger btn-block text-uppercase fs-6">
                    Сканировать документ
                </button>
            </form>
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-4">
                    {% if category == 'danger' %}
                    &#10060; {{ message }}
                    {% elif category == 'success' %}
                    &#9989; {{ message }}
                    {% else %}
                    &#9888; {{ message }}
                    {% endif %}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% if image %}
                <img class="w-100 mt-4" src="{{image}}">
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.9.0/mdb.min.js"></script>
</body>

</html>
